* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

section:not(#logo) {
    scroll-margin-top: 70px;
}

#project-section {
    scroll-margin-top: 70px;
}

body {
    font-family: 'Poppins', sans-serif;
    height: auto;
    margin-top: 70px;
    background-color: #f8f8f8;
}


/* Navigation Bar */
.navbar {
    padding-left: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    height: 3em;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}

.active {
    color: #FF9209;
}

#logo {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
    width: 20%;

}

#logo a {
    text-decoration: none;
    background-image: linear-gradient(to right, #333, #FF9209);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#logo img {
    object-fit: contain;
    height: 60px;

}

ul {
    padding-right: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    justify-content: right;
    align-items: center;
    list-style: none;
}

ul li a {
    position: relative;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    padding: 0.8em;
}

ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF9209;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-btn li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Hero Section */
#hero-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-container {
    height: auto;
    width: 50%;
    display: flex;
}



.user-info {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.greetings {
    font-size: 24px;
    font-weight: 600;
    color: #FF9209;
}

.user-name {
    font-size: 40px;
}

.job {
    font-size: 28px;
    color: #333;
}

.job-details {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #7c7c7c;
}

.user-profile {
    object-fit: contain;
    padding-bottom: 2%;
    padding-top: 2%;
    position: relative;
}



.user-profile img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%x;
    background-color: #FF9209;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
}

.socials li a {
    width: 55px;
    height: 55px;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.socials li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.socials li:nth-child(1) a:hover .fab {
    color: #3b5998;
    background-clip: text;
    -webkit-background-clip: text;
}

.socials li:nth-child(2) a:hover .fab {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials li:nth-child(3) a:hover .fab {
    color: #6e5494;
    background-clip: text;
    -webkit-background-clip: text;
}

.socials li:nth-child(3) a:hover .fab {
    color: #0077b5;
    background-clip: text;
    -webkit-background-clip: text;
}

.tech-stack {
    width: 30%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tech-icons {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.tech-txt {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    opacity: 60%;
}

.tech-icons img {
    height: 40px;
}



/* Services Offered Section */
#services-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: auto;
}

.about,
.projects,
.contact,
.services {
    font-size: 18px;
    font-weight: 700;
    color: #FF9209;
}

.services-offered-txt {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2%;
}

.services-offer {
    height: auto;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 15px;

}

.web-dev,
.web-design {
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
/*     height: 400px; */
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 20px;
}

.web-dev p,
.web-design p {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
}

.services-img {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    width: 90%;
}

.services-img img {
    object-fit: contain;
}

.service-description {
    height: 100%;
    width: 90%;
}

.service-title {
    padding: 10px;
}

/* About section */
#about-section {
    margin: 0 auto;
    height: 90vh;
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-txt {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2%;
    text-align: left;
}

.about-container {
    height: 100%;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-photo {
    height: auto;
    width: auto;
    object-fit: contain;
}

.about-photo img {
    border-radius: 46px 54px 58px 52px;
    -webkit-border-radius: 46px 54px 58px 52px;
    -moz-border-radius: 46px 54px 58px 52px;
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin: 10px;
}

.workwithme {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.workwithme img {
    height: 30px;
    width: 30px;
    margin: 10px;
    object-fit: contain;
    align-items: center;
    display: flex;
    justify-content: center;
}



.innovative,
.high-tech,
.user-approach,
.flexibility {
    margin: 10px;
    display: flex;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    color: #333;
    opacity: 90%;
    margin-left: 50px;
}




/* Projects Section */
#project-section {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.recent-proj {
    font-size: 32px;
    padding-bottom: 10px;

}

.project-list {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    width: 70%;
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px;
    background-color: #F5F5F5;
    border-radius: 20px;
    margin: 20px;
    overflow-y: scroll;
    height: auto;
    max-height: 800px;
}

.project-details {
    z-index: 99;
    height: 70%;
}

.item .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item .card .item__container {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

}

.item-thumbnail {
    position: relative;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.4;
}

.item__thumbnail img {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.project-name {
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
    height: 20%;
    width: 100%;
}

.project-details {
    font-size: 14px;
    height: auto;
    width: auto;
}

.tags {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags-txt {
    width: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
}

.html-tag,
.css-tag,
.js-tag {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.html-tag {
    background-color: #F75421;
}

.css-tag {
    background-color: #0068BA;
}

.js-tag {
    background-color: #EFD81D;
}

.tags img {
    height: 20px;
    width: 20px;
}


.btn-container {
    height: 20%;
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans serif;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.btn-container button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    font-weight: 700;
}


#scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #33333380;
}

.pointer-none {
    pointer-events: none;
}

.grid.gap[data-columns="4"] {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid.gap[data-columns="4"] .item .card {
    width: 100%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.grid.gap[data-columns="4"] .item .item__thumbnail {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.grid.gap[data-columns="4"] .item .item__thumbnail::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0000001A;
}

.grid.gap[data-columns="4"] .item .item__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid.gap[data-columns="4"] .item .item__container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    color: white;
    z-index: 1;
    height: 100%;
    width: 100%;
}



/***************************/
/* Filters *****************/
/***************************/

.filters-controls {
    margin-bottom: var(--gap-500, 24px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-300, 12px);
    flex-wrap: wrap;
    padding-block: 500, 24px;
}

.filters-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

button.filter-control {
    position: relative;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    background-color: #DDDDDDFF;
    border: 1px solid #DDDDDDFF;
    color: #333;
    border-radius: 32px;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    font-family: 'Poppins', sans-serif;
}

button.filter-control[aria-selected="true"],
button.filter-control:hover,
button.filter-control:focus {
    background-color: #333;
    border-color: #333;
    color: white;
}

.filters .filters-panel {
    --animation-time: 300ms;
    --translateY: 50px;
}

.filters .filters-panel.fadeOutDown {
    animation: fadeOutDown var(--animation-time) forwards ease-in-out;
}

.filters .filters-panel.fadeInUp {
    animation: fadeInUp var(--animation-time) forwards ease-in-out;
}

@keyframes fadeOutDown {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(var(--translateY));
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(var(--translateY));
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.filters .filters-panel .item,
.filters .filters-panel .item[data-filter-order] {
    display: flex;
}

.filters .filters-panel .item[data-other-order] {
    display: none;
}

/* Contact Section */
#contact-section {
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-me {
    font-size: 32px;
    font-weight: 700;
    padding: 5px;
}

.contact-me p {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
}

.contact-details {
    background-color: #fff;
    box-shadow: 2px 2px 4px 5px rgba(224, 224, 224, 0.75);
    -webkit-box-shadow: 2px 2px 4px 5px rgba(224, 224, 224, 0.75);
    -moz-box-shadow: 2px 2px 4px 5px rgba(224, 224, 224, 0.75);
    height: auto;
    width: auto;
    border-radius: 10px;
    display: flex;
}

.contact-info-section {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.wheretofind {
    text-align: left;
    font-weight: 700;
    padding: 5px;
}



hr {
    border: 0.2px solid #333;
    width: 100%;
}


.contacts {
    height: auto;
    width: auto;
}

.contact-list {
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
    color: #333;
    font-size: 20px;
    width: 10%;
    text-align: center;
    padding: 10px;
}

.contact-content {
    height: auto;
    width: 100%;
}

.contact-form-section {
    background-color: #FF9209;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

fieldset {
    margin: 0 auto;
    height: auto;
    width: 90%;
    border: none;
    text-align: left;
}

.form-field {
    height: 60px;
    width: 100%;
}

#form-title {
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

.name {
    font-size: 14px;
    height: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    font-weight: 700;

}

.email,
.subject,
.message {
    font-size: 14px;
    height: 5px;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    font-weight: 700;
}

#name,
#email,
#subject,
#message {
    margin-top: 10px;
    color: #030334;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    height: 50%;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}

#name:focus,
#email:focus,
#subject:focus,
#message:focus {
    outline: 2px solid #333;
    border-radius: 5px;
}

#message {
    font-family: 'Poppins', sans-serif;
    height: 80px;
    width: 100%;
    padding-top: 10px;

}

#form-btn {
    color: #fff;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-style: none;
    cursor: pointer;
    height: 2.5rem;
    width: 40%;
    border-radius: 5px;
    margin-top: 70px;
}

/* Footer Section */
footer {
    color: #fff;
    background-color: #333;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;

}

.social-icons {
    margin: 0 auto;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    padding: 10px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-github,
.fa-linkedin-in {
    color: #ffffff;
}
